<h1>Product List</h1>

<div class="titleContainer">
    <div class="idTitle">ID</div>
    <div class="nameTitle">First Name</div>
    <div class="descriptionTitle">Last Name</div>
    <div class="priceTitle">Email</div>
    <div class="priceTitle">Status</div>
    <div class="buttonTitle"></div>
</div>


<div class="infoContainer" *ngFor="let product of products">
    <div class="id">{{product.id}}</div>
    <div class="name">{{product.fName}}</div>
    <div class="description">{{product.lName}}</div>
    <div class="price">{{product.email }}</div>
    <div class="price">{{product.status}}</div>
    <div class="button">
        <button class="editBtn" (click)="showEditProductForm(product)">Edit</button>
        <button class="deleteBtn" (click)="removeProduct(product)">Delete</button>
    </div>
</div>

<button class="addBtn" (click)="showAddProductForm()">Add Product</button>



<form *ngIf="userForm">
    <h2>Add New User</h2>
    <div>
        <input type="text" placeholder="Id" name="id" [(ngModel)]="newUser.id">
    </div>

    <div>
        <input type="text" placeholder="Name" name="name" [(ngModel)]="newUser.name">
    </div>

    <div>
        <input type="text" placeholder="description" name="descrption" [(ngModel)]="newUser.description">
    </div>

    <div>
        <input type="text" placeholder="price" name="price" [(ngModel)]="newUser.price">
    </div>

    <button (click)="saveProduct(newUser)">Submit</button>
    <button (click)="cancelNewProduct()">Cancel</button>

</form>







<form *ngIf="editUserForm">
    <h2>Edit Details</h2>
    <div>
        <input type="text" name="id" [(ngModel)]="editedUser.id">
    </div>

    <div>
        <input type="text" name="name" [(ngModel)]="editedUser.fName">
    </div>

    <div>
        <input type="text" name="descrption" [(ngModel)]="editedUser.lName">
    </div>

    <div>
        <input type="text" name="price" [(ngModel)]="editedUser.email">
    </div>

    <div>
        <input type="text" name="phoneNo" [(ngModel)]="editedUser.phoneNo">
    </div>

    <div>
        <input type="text" name="status" [(ngModel)]="editedUser.status">
    </div>

    <button (click)="updateProduct(editedUser)">Submit</button>
    <button (click)="cancelEdits()">Cancel</button>

</form>