.page-header {
    display: flex;
}

.page-header h2 {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: black;
    color: white;
}

th {
    text-align: left;
}

th,
td {
    padding: 10px 5px;
}

td {
    border-bottom: 1px solid lightgray;
}

td:last-child {
    display: flex;
    direction: rtl;
    align-content: flex-end;
}

button {
    border-radius: 5px;
}

.addBtn {
    background: green;
    border: none;
    height: 32px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    margin-right: 5px;
}

.editBtn {
    background: blue;
    border: none;
    color: #ffffff;
    font-weight: bold;
    height: 22px;
    width: 60px;
    margin-right: 10px;
}

.deleteBtn {
    background: red;
    border: none;
    color: #ffffff;
    font-weight: bold;
    height: 22px;
    width: 60px;
}