.titleContainer {
    display: flex;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    background: #444444;
    color: #ffffff;
    padding-left: 10px;
}

.header {
    flex: 1;
}

.infoContainer {
    display: flex;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #dddddd;
    padding-left: 10px;
    background: #ffffff;
}

.content {
    flex: 1;
}

.button {
    flex: 1;
}

.addBtn {
    background: green;
    border: none;
    height: 32px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
}

.editBtn {
    background: blue;
    border: none;
    color: #ffffff;
    font-weight: bold;
    height: 22px;
    width: 60px;
}

.deleteBtn {
    background: red;
    border: none;
    color: #ffffff;
    font-weight: bold;
    height: 22px;
    width: 60px;
}